<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    <script src="{% static 'JS/main.js' %}"></script>
</head>

<body>
    <div class="header">
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
    </div>


    <aside>
        <ul class="sidenav"">
            <li><a href="/index/">Dashboard </a> </li> 
            <li><a href="/account/">Create Account</a></li>
            <li><a href="/login/">Log in</a></li>
            <li><a class=" active" href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a href="/attend/">Attendence</a></li>
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title"></h1>
        <form action="" method="post" class="survey">
            <h1>Announcement form
                <span>Please make annoncements.</span>
            </h1>
            <label>
                <span>Title: </span>
                <input type="text" id="titleform" name="title" placeholder="The title .."></input>
            </label>
            <br>
            <label>
                <span>Announce: </span>
                <textarea id="message" name="message" placeholder="Please indicate:"></textarea>
            </label>
        </form>
        <button class="but" type="submit" id="submitform">Submit</button>
    </div>

    <script>
        if (statusCheck()) {
            document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();
            var btn = document.getElementById("submitform");
            btn.onclick = function () {
                announce();
                document.getElementById("message").value = '';
            }
        } else {
            document.getElementById("title").innerHTML = "Please Log In!";
        }
    </script>
</body>


</html>