<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <div class="header">
        <img class="logo" src="{% static 'pic/logo.png' %}" alt="logo-here" width="100" height="35" />
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
        <button type="submit" class="header"> <a class="lgin" href="/login/">Sign in</a></button>
        <button type="submit" class="header"><a class="lgin" href="/account/">Sign up</a></button>
        <button type="submit" class="header"><a class="lgin" href="/logout/">Log out</a></button>    </div>

    <aside>
        <ul class="sidenav"">
            <li><a class=" active" href="/index/">Dashboard </a> </li>
            <li><a href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a href="/attend/">Attendence</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title"></h1>
        <div id="table" height="400" width="1100"></div>
        <div id="piechart" height="400" width="400"></div>
    </div>
    <div class="login">
        <button class="but" type="submit" id="getAttend">Get attendence!</button>
    </div>
</body>

<script>
    if (statusCheck()) {
        document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();

    } else {
        document.getElementById("title").innerHTML = "Please Log In!";
    }
    var btn = document.getElementById("getAttend");
    btn.onclick = function () {
        var temp = findAbsent();
    }

    function findAbsent() {
        var url = "./";
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.send();

        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4) {
                response = xhr.response;
                response = JSON.parse(response);
                console.log(response);
                numTrue = 0;
                numFalse = 0;
                numLst = [];
                for(i=0; i<50; i++){
                    if(response[i] != null){
                        if (response[i] == true){
                            numTrue = numTrue + 1;
                        } else {
                            numFalse = numFalse + 1;
                            numLst.push(String(i));
                        }
                    }
                }
                temp = [numTrue, numFalse, numLst];
                console.log(temp);
                chart(temp);
            }
        }
    }
</script>


</html>