<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="{% static 'main.js' %}"></script>

</head>

<body>
    <div class="header">
        <img class="logo" src="{% static 'pic/logo.png' %}" alt="logo-here" width="100" height="35" />
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
        <button type="submit" class="header"> <a class="lgin" href="/logout/">Log out</a></button>
    </div>

    <aside>
        <ul class="sidenav"">
            <li><a class=" active" href="/index/">Dashboard </a> </li>
            <li><a href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a href="/attend/">Attendence</a></li>
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </aside>

    <div class="ind" id="main-content">
        <br><br>
        <a id="title">Welcome! Find easy way of teaching!</a>
        <br><br>
        <b id="title">Please Login to continue</b>
    </div>

</body>

<script>
    if (statusCheck()) {
        document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();
    } else {
        document.getElementById("title").innerHTML = "Please Log In!";
    }
</script>

</html>