<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="{% static 'main.js' %}"></script>

</head>

<body>
    <div class="header">
        <img class="logo" src="{% static 'pic/logo.png' %}" alt="logo-here" width="100" height="35" />
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
        <b id='bbb1'>
            <button type="submit" class="header"> <a class="lgin" href="/login/">Sign in</a></button>
        </b>
        <b id='bbb2'>
            <button type="submit" class="header"><a class="lgin" href="/account/">Sign up</a></button>
        </b>
    </div>

    <aside>
        <ul class="sidenav"">
            <li><a href="/index/">Dashboard </a> </li>
            <li><a href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a href="/response/">View response</a></li>
            <li><a href="/attend/">Attendence</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title"></h1>
    </div>

    <script>
        deleteCookie("user1");
        if (!statusCheck()){
            document.getElementById("title").innerHTML = "Log Out Successful";
        }
    </script>
</body>

</html>