<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <script src="{% static 'main.js' %}"></script>
</head>

<body>
    <div class="header">
        <img class="logo" src="{% static 'pic/logo.png' %}" alt="logo-here" width="100" height="35" />
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
        <button type="submit" class="header"><a class="lgin" href="/logout/">Log out</a></button>
    </div>


    <aside>
        <ul class="sidenav"">
            <li><a href="/index/">Dashboard </a> </li> <li><a href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a class=" active" href="/response/">View response</a></li>
            <li><a href="/attend/">Attendence</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title"></h1>
        <br><br><br>
        <div class='descrip'>
            <a>The Description of the survey:</a>
            <br><br><br>
            <b id='desss'></b>
        </div>
        <br><br><br><br>
        <div class='table-2'>
            <div id='create' class="table-1"></div>
        </div>
        
        <!-- <div id='create'></div> -->
        <!-- <label>
            <button class="but" type="text" id="drag">Pull Response</button>
        </label> -->
    </div>
    <script>
        if (statusCheck()) {
            document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();
            findResult();
            // var btn2 = document.getElementById("drag");
            // btn2.onclick = function () {
            //     findResult();
            // }
        } else {
            document.getElementById("title").innerHTML = "Please Log In!";
        }

        function findResult() {
            var url = "./";
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    response = xhr.responseText;
                    response = JSON.parse(response);
                    // temp = [response.survey1_yes, response.survey1_no, response.survey2_yes, response.survey2_no];
                    console.log(response)
                    description = response.description;
                    ques1 = response.Q1;
                    survey1_yes = response.response;
                    if (survey1_yes==1){
                        survey1_no=0;
                    }else{
                        survey1_no=1;
                    }
                    // survey1_no = response.Q2;
                    temp = [survey1_yes, survey1_no, ques1];
                    console.log(temp);
                    document.getElementById("desss").innerHTML=description;
                    createTable(temp);
                }
            }
        }

        function createTable(temp) {
            let table = document.createElement('table');
            let thead = document.createElement('thead');
            let tbody = document.createElement('tbody');

            table.appendChild(thead);
            table.appendChild(tbody);

            // Adding the entire table to the body tag
            document.getElementById('create').appendChild(table);
            // Creating and adding data to first row of the table
            let row_1 = document.createElement('tr');
            let heading_4 = document.createElement('th');
            heading_4.innerHTML = "";
            let heading_1 = document.createElement('th');
            heading_1.innerHTML = "Question";
            let heading_2 = document.createElement('th');
            heading_2.innerHTML = "Yes";
            let heading_3 = document.createElement('th');
            heading_3.innerHTML = "No";

            row_1.appendChild(heading_4);
            row_1.appendChild(heading_1);
            row_1.appendChild(heading_2);
            row_1.appendChild(heading_3);
            thead.appendChild(row_1);

            // Creating and adding data to second row of the table
            let row_2 = document.createElement('tr');
            let row_2_data_4 = document.createElement('td');
            row_2_data_4.innerHTML = "Q1";
            let row_2_data_1 = document.createElement('td');
            row_2_data_1.innerHTML = temp[2];
            let row_2_data_2 = document.createElement('td');
            row_2_data_2.innerHTML = temp[0];
            let row_2_data_3 = document.createElement('td');
            row_2_data_3.innerHTML = temp[1];

            row_2.appendChild(row_2_data_4);
            row_2.appendChild(row_2_data_1);
            row_2.appendChild(row_2_data_2);
            row_2.appendChild(row_2_data_3);
            tbody.appendChild(row_2);

            // Creating and adding data to third row of the table
            // let row_3 = document.createElement('tr');
            // let row_3_data_1 = document.createElement('td');
            // row_3_data_1.innerHTML = "Survey 2";
            // let row_3_data_2 = document.createElement('td');
            // row_3_data_2.innerHTML = temp[2];
            // let row_3_data_3 = document.createElement('td');
            // row_3_data_3.innerHTML = temp[3];

            // row_3.appendChild(row_3_data_1);
            // row_3.appendChild(row_3_data_2);
            // row_3.appendChild(row_3_data_3);
            // tbody.appendChild(row_3);
        }
    </script>
</body>

</html>