<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="CSS/style.css" rel="stylesheet">
    <script src="./JS/main.js"></script>
</head>

<body>
    <div class="header">
        <a href="index.html" class="logo"><b>Student Management<span> System</span></b></a>
    </div>


    <aside>
        <ul class="sidenav"">
            <li><a href=" index.html">Dashboard</a></li>
            <li><a href="login.html">Log in</a></li>
            <li><a href="announce.html">Announcement</a></li>
            <li><a class=" active" href="survey.html">Making Surveys</a></li>
            <li><a href="attend.html">Attendence</a></li>
            <li><a href="logout.html">Log out</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title"></h1>
        <form action="" method="post" class="survey">
            <h1>Survey Form
                <span>Please set the survey questions.</span>
            </h1>
            <label>
                <span>Description: </span>
                <textarea id="message" name="message" placeholder="Please discribe what the survey is for:"></textarea>
            </label>
            <label>
                <span>Please input your question #1:</span>
                <input id="Q1" type="text" name="name" placeholder="Q1" />
            </label>
            <label>
                <span>Please input your question #2:</span>
                <input id="Q2" type="text" name="name" placeholder="Q2" />
            </label>
        </form>

        <!-- <label>
                <span>Please input your question #3:</span>
                <input id="name" type="text" name="name" placeholder="Q3" />
            </label>
            <label>
                <span>Please input your question #4:</span>
                <input id="name" type="text" name="name" placeholder="Q4" />
            </label> -->
        <button class="but" type="submit" id="submit">Send Survey</button>
        <br>
        <!-- <table class="hovertable">
            <tr>
                <th></th>
                <th>Support</th>
                <th>Oppose</th>
            </tr>
            <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FFF';">
                <td>Survey 1</td>
                <td id="Q1Yes"></td>
                <td id="Q1No"></td>
            </tr>
            <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FFF';">
                <td>Survey 2</td>
                <td id="Q2Yes"></td>
                <td id="Q2No"></td>
            </tr>
        </table> -->
        <div id="create">        </div>
        <br>
        <label>
            <button class="but" type="text" id="drag">Pull Response</button>
        </label>
    </div>
    <script>
        if (statusCheck()) {
            document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();
            var btn1 = document.getElementById("submit");
            btn1.onclick = function () {
                survey();
                document.getElementById("message").value = '';
                document.getElementById("Q1").value = '';
                document.getElementById("Q2").value = '';
            }
            var btn2 = document.getElementById("drag");
            btn2.onclick = function () {
                findResult();
            }
        } else {
            document.getElementById("title").innerHTML = "Please Log In!";
        }

        function findResult() {
            var url = "http://127.0.0.1:8000/server";
            var xhr = new XMLHttpRequest();
            xhr.open('POST', url);
            xhr.send();
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    response = xhr.responseText;
                    response = JSON.parse(response);
                    console.log(response.survey1_yes);
                    temp = [response.survey1_yes, response.survey1_no, response.survey2_yes, response.survey2_no];
                    createTable(temp);
                }
            }

            function createTable(temp) {
                let table = document.createElement('table');
                let thead = document.createElement('thead');
                let tbody = document.createElement('tbody');

                table.appendChild(thead);
                table.appendChild(tbody);

                // Adding the entire table to the body tag
                document.getElementById('create').appendChild(table);
                // Creating and adding data to first row of the table
                let row_1 = document.createElement('tr');
                let heading_1 = document.createElement('th');
                heading_1.innerHTML = "";
                let heading_2 = document.createElement('th');
                heading_2.innerHTML = "Support";
                let heading_3 = document.createElement('th');
                heading_3.innerHTML = "Oppose";

                row_1.appendChild(heading_1);
                row_1.appendChild(heading_2);
                row_1.appendChild(heading_3);
                thead.appendChild(row_1);

                // Creating and adding data to second row of the table
                let row_2 = document.createElement('tr');
                let row_2_data_1 = document.createElement('td');
                row_2_data_1.innerHTML = "Survey 1";
                let row_2_data_2 = document.createElement('td');
                row_2_data_2.innerHTML = temp[0];
                let row_2_data_3 = document.createElement('td');
                row_2_data_3.innerHTML = temp[1];

                row_2.appendChild(row_2_data_1);
                row_2.appendChild(row_2_data_2);
                row_2.appendChild(row_2_data_3);
                tbody.appendChild(row_2);

                // Creating and adding data to third row of the table
                let row_3 = document.createElement('tr');
                let row_3_data_1 = document.createElement('td');
                row_3_data_1.innerHTML = "Survey 2";
                let row_3_data_2 = document.createElement('td');
                row_3_data_2.innerHTML = temp[2];
                let row_3_data_3 = document.createElement('td');
                row_3_data_3.innerHTML = temp[3];

                row_3.appendChild(row_3_data_1);
                row_3.appendChild(row_3_data_2);
                row_3.appendChild(row_3_data_3);
                tbody.appendChild(row_3);
            }
        }
    </script>
</body>

</html>