<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'CSS/style.css' %}" rel="stylesheet">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="{% static 'JS/main.js' %}"></script>
</head>

<body>
    <div class="header">
        <a href="/index/" class="logo"><b>Student Management<span> System</span></b></a>
    </div>

    <aside>
        <ul class="sidenav"">
            <li><a href="/index/">Dashboard</a></li>
            <li><a href="/login/">Log in</a></li>
            <li><a href="/announce/">Announcement</a></li>
            <li><a href="/survey/">Making Surveys</a></li>
            <li><a class="active" href="/attend/">Attendence</a></li>
            <li><a href="/logout/">Log out</a></li>
        </ul>
    </aside>

    <div id="main-content">
        <h1 class="main" id="title">Welcome! Elephant.</h1>
        <div id="table" height="400" width="1100"></div>
        <!-- <div id="piechart" height="400" width="400"></div> -->

    </div>
</body>

<script>
    if (statusCheck()) {
        document.getElementById("title").innerHTML = "Welcome!  " + statusCheck();
        var temp = findAbsent();
    } else {
        document.getElementById("title").innerHTML = "Please Log In!";
    }


    function findAbsent() {
        var url = "http://127.0.0.1:8000/server";
        var xhr = new XMLHttpRequest();
        xhr.open('POST', url);
        xhr.send();
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                response = xhr.responseText;
                response = JSON.parse(response);
                temp = [response.attend, response.absent];
                console.log(temp);
                chart(temp);
            }
        }
    }

</script>


</html>